

  body {
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
    color: #f5f5f5;
  }
  #indice {
    background-color: #ffffff;
    color: white;
    background-image: url('../imagenes/imagencabecera.png'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Ajusta la imagen para cubrir el área */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
    color: white; /* Asegura que el texto sea legible sobre la imagen */
    padding: 25px;
    position: fixed; /* Fija el índice en la parte superior */
    top: 0;
    left: 0;
    height: 30px;
    height: 100px; /* Ajusta la altura del índice según tu imagen */
    width: 100%;
    z-index: 2000; /* Asegura que el índice esté por encima de otros elementos */
    box-shadow: 0 2px 5px rgba(197, 67, 106, 0.2);
    display: flex;
    align-items: center;
    justify-content: center; /* Centra horizontalmente el contenido */
    text-align: center; /* Centra el texto */
  }
  #logotipo {
    height: 100px; /* Ajusta el tamaño del logotipo según sea necesario */
    width: auto; /* Mantiene la proporción del logotipo */
    margin-right: 20px; /* Espacio entre el logotipo y el texto u otros elementos */
  }
  #horaActual {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 70px;
    color: rgba(0, 0, 0, 0.856);
    font-family: monospace;
    font-size: 1.7rem;
    margin-left: auto; /* Empuja el reloj hacia la derecha */
}
  h1.primero {
    color: rgb(0, 0, 0);
    text-align: center;    /* Centra el texto */
    margin-top: 35px;      /* Asegura que no se superponga con el índice */
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
  }
  
  
  
  .web-agency {
    text-align: center;
    padding: 30px;
  }
  
  .web-agency h2 {
    color: #ffc107;
    margin-bottom: 10px;
  }
  
  .web-agency p {
    font-size: 16px;
    max-width: 800px;
    margin: 0 auto 30px;
    line-height: 1.6;
  }
  
  .servicios {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .servicio {
    position: relative;
    width: 300px;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    background: #333;
  }
  
  .servicios img {
    width: 100%;
    height: 100%;
    filter: grayscale(0%);
    transition: filter 0.3s ease-in-out;
  }
  
  .servicio:hover img {
    filter: grayscale(100%); /* Vuelve a color al pasar el ratón */
  }
  
  .service-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 22px;
    color: #ffc14e;
    /*background: rgba(36, 35, 35, 0.5);*/
    padding: 5px;
    border-radius: 5px;
  }




