body {
  font-family: Montserrat, sans-serif;
  background-color: #1c1c1c;
  color: #ffffff;
}

#indice {
  background-image: url('../imagenes/imagencabecera2.jpg');
  /* Ruta de la imagen de fondo */
  background-size: cover;
  /* Ajusta la imagen para cubrir el área */
  background-repeat: no-repeat;
  /* Evita que la imagen se repita */
  background-position: center;
  /* Centra la imagen */
  color: white;
  /* Asegura que el texto sea legible sobre la imagen */
  padding: 10px 25px;
  /* Ajusta el padding */
  position: fixed;
  /* Fija el índice en la parte superior */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
  box-shadow: 0 2px 5px rgba(197, 67, 106, 0.2);
  display: flex;
  align-items: center;
  /* Alinea los elementos verticalmente */
}

#logotipo {
  height: 120px;
  width: auto;
  margin-right: 500px;
  margin-top: 0%;
}

#horaActual {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 70px;
  color: rgb(0, 0, 0);
  font-family: Montserrat, sans-serif;
  font-size: 1.7rem;
  font-weight: 600;
  margin-left: auto;
  /* Empuja el reloj hacia la derecha */
}

.primero {
  color: rgb(255, 0, 0);
  text-align: center;
  /* Centra el texto */
  margin-top: 25px;
  text-decoration: none;
  font-size: 20px;
  font-family: Montserrat, sans-serif;
  display: flex;
  margin-left: 3.5em;
}

.introduccion {
  text-align: center;
  padding: 30px;
}

#imagenesPortada:hover {
  transform: scale(1.1);
}

.web-agency h2 {
  color: #ffc107;
  margin-bottom: 10px;
}

.web-agency p {
  font-size: 16px;
  max-width: 800px;
  margin: 0 auto 30px;
  line-height: 1.6;
}

.servicios {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.servicio {
  position: relative;
  width: 300px;
  height: 250px;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  background: #333;
}

.servicios img {
  width: 100%;
  height: 100%;
  filter: grayscale(0%);
  transition: filter 0.3s ease-in-out;
}

.servicio:hover img {
  filter: grayscale(100%);
  /* vuelve a color al pasar el ratón */
}

.service-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 22px;
  color: #ffc14e;
  /* background: rgba(36, 35, 35, 0.5);
  padding: 5px;
  border-radius: 5px; */
}

.titulo {
  color: rgb(247, 242, 242);
  font-size: 40px;
  font-family: Montserrat, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contenedor1 {
  display: flex;
  /* Activa el modelo Flexbox */
  align-items: center;
  /* Centra verticalmente los elementos */
  justify-content: space-between;
  /* Espacia los elementos horizontalmente */
  padding: 20px;
  /* Espaciado interno para el contenedor */
  gap: 0px;
  /* Espacio entre la imagen y el texto */
}

.contenedor-imagen {
  order: 1;
  flex: 1;
  max-width: 50%;
}

.contenedor-imagen img {
  width: 70%;
  height: auto;
}

.Contenedor1-texto {
  order: 2;
  flex: 1;
  max-width: 50%;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  line-height: 2;
}

@media (max-width: 768px) {
  .contenedor1 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contenedor-imagen,
  .Contenedor1-texto {
    max-width: 100%;
  }
}

.contenedor2 {
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px;
  gap: 0px;
}

.separadorColor {
  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  gap: 0px;
}
.separadorDeTema {
  background-color: #ffc14e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.05em;
  gap: 0px;
}
/*PARTE ALEX DIV CONTENEDORES*/
#imgContendorDS {
  order: 2;
  flex: 1;
  width: 40%;
  height: 40%;
  margin: auto;
}
.contenedor-imagen {
  order: 2;
  flex: 1;
  max-width: 50%;
}

.contenedor-imagen img {
  width: 70%;
  height: auto;
}

.Contenedor2-texto {
  order: 1;
  flex: 1;
  max-width: 50%;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  line-height: 2;
}

@media (max-width: 768px) {
  .contenedor2 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contenedor-imagen,
  .Contenedor2-texto {
    max-width: 100%;
  }
}

p {
  font-size: 24px;
  font-family: Montserrat, sans-serif;
  line-height: 40px;
  display: flex;
  margin: 20px;
  padding: auto;
}
.text-shadow-pop-top {
	-webkit-animation: text-shadow-pop-top 0.6s both;
	        animation: text-shadow-pop-top 0.6s both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-11-27 19:7:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
 @-webkit-keyframes text-shadow-pop-top {
  0% {
    text-shadow: 0 0 #aaaaaa, 0 0 #aaaaaa, 0 0 #aaaaaa, 0 0 #aaaaaa, 0 0 #aaaaaa, 0 0 #aaaaaa, 0 0 #aaaaaa, 0 0 #aaaaaa;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    text-shadow: 0 -1px #aaaaaa, 0 -2px #aaaaaa, 0 -3px #aaaaaa, 0 -4px #aaaaaa;
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
}
@keyframes text-shadow-pop-top {
  0% {
    text-shadow: 0 0 #aaaaaa, 0 0 #aaaaaa, 0 0 #aaaaaa, 0 0 #aaaaaa, 0 0 #aaaaaa, 0 0 #aaaaaa, 0 0 #aaaaaa, 0 0 #aaaaaa;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    text-shadow: 0 -1px #aaaaaa, 0 -2px #aaaaaa, 0 -3px #aaaaaa, 0 -4px #aaaaaa;
    -webkit-transform: translateY(4ºpx);
            transform: translateY(4px);
  }
}



